<div [innerHTML]='components' style='color: red'>test</div>

<div class='container mt-5'>
	<div class='row'>
		<div class='col-12'>
			<h1 class='welcome mb-0'>Welcome to Kendo UI for Angular</h1>
			<h2 class='sub-header mt-0'>This is a sample application built with Kendo UI for Angular - a set of over 60
				UI components built from the ground-up specifically for Angular.</h2>
		</div>
	</div>
	<div class='row'>
		<div class='col-12'>
			<h1 class='get-started'>Get Started</h1>
		</div>
	</div>
	<div class='row justify-content-center'>
		<div class='col-6 text-right'>
			<div class='kendoka-div'>
				<svg-component [svg]='kendoka'></svg-component>
			</div>
		</div>
		<div class='col-6 components-list'>
			<p>
				<svg-component [svg]='componentsIcon'></svg-component>
				<a
					href='https://www.telerik.com/kendo-angular-ui/components/'>Components
					& Documentation</a>
        </p>
				<p>
					<svg-component [svg]='stylesIcon'></svg-component>
					<a
						href='https://www.telerik.com/kendo-angular-ui/components/styling/'>Kendo UI for Angular
						Themes Overview</a>
				</p>
				<p>
					<svg-component [svg]='blogsIcon'></svg-component>
					<a
						href='https://www.telerik.com/blogs/tag/kendo-ui-for-angular'>Blog
						Posts</a>
				</p>
				<p>
					<svg-component [svg]='tutorialsIcon'></svg-component>
					<a
						href='https://www.telerik.com/campaigns/kendo-ui/using-kendo-ui-with-angular-video-tutorial'>Tutorials</a>
				</p>
		</div>
	</div>
</div>