<div class='container-fluid'>
	<div class='row my-4'>
		<div class='col-12 col-lg-9 border-right'>
			<kendo-chart [categoryAxis]='{ categories: categories }'>
				<kendo-chart-title text='Gross domestic product growth /GDP annual %/'></kendo-chart-title>
				<kendo-chart-legend position='bottom' orientation='horizontal'></kendo-chart-legend>
				<kendo-chart-tooltip format='{0}%'></kendo-chart-tooltip>
				<kendo-chart-series>
					<kendo-chart-series-item *ngFor='let item of series' type='line' style='smooth' [data]='item.data'
						[name]='item.name'>
					</kendo-chart-series-item>
				</kendo-chart-series>
			</kendo-chart>
		</div>
		<div class='col-12 col-lg-3 mt-3 mt-lg-0'>
			<h3>Kendo UI for Angular Chart</h3>
			<p>The Kendo UI for Angular Charts provide high quality graphical data visualization options.</p>
			<p>They include a variety of chart types and styles that have extensive configuration options. This	flexibility allows you to quickly and easily create the exact chart you need to fit your specific requirements for functionality and appearance.</p>
			<p>The Kendo UI for Angular Chart Components are built from the ground up, specifically for Angular, so that you get high-performing chart components that integrate with your Angular app along with the rest of your Angular UI components.</p>
			<p>For documentation and demos of all available Chart types (Bar, Line, Donut, Sparkline, StockChart etc),	please visit the <a
					href='https://www.telerik.com/kendo-angular-ui/components/charts/chart/'>Kendo Ui for Angular
					Chart documentation page.</a> </p>
		</div>
	</div>
</div>