<div class='container-fluid'>
	<div class='row my-4'>
		<div class='col-12 col-lg-9 border-right'>
			<kendo-grid [data]='gridData' (edit)='editHandler($event)' (cancel)='cancelHandler($event)'
				(save)='saveHandler($event)' (remove)='removeHandler($event)' (add)='addHandler($event)' [height]='410'>
				<ng-template kendoGridToolbarTemplate>
					<button kendoGridAddCommand>Add new</button>
				</ng-template>
				<kendo-grid-column field='ProductName' title='Name' width='200'>
					<ng-template kendoGridEditTemplate let-column='column' let-formGroup='formGroup' let-isNew='isNew'>
						<input #input class='k-textbox' [formControl]='formGroup.get(column.field)'>
						<kendo-popup [anchor]='input'
							*ngIf='formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)'
							popupClass='k-widget k-tooltip k-tooltip-validation k-invalid-msg'>
							<span class='k-icon k-i-warning'></span>
							Product name is required
						</kendo-popup>
					</ng-template>
				</kendo-grid-column>
				<kendo-grid-column field='CategoryID' title='Category' width='150'>
					<ng-template kendoGridCellTemplate let-dataItem>
						{{category(dataItem.CategoryID)?.CategoryName}}
					</ng-template>
					<ng-template kendoGridEditTemplate let-dataItem='dataItem' let-column='column'
						let-formGroup='formGroup'>
						<kendo-dropdownlist #ddl='popupAnchor' popupAnchor
							[defaultItem]="{CategoryID: null, CategoryName: 'Test null item'}" [data]='categories'
							textField='CategoryName' valueField='CategoryID' [valuePrimitive]='true'
							[formControl]="formGroup.get('CategoryID')">
						</kendo-dropdownlist>
						<kendo-popup [anchor]='ddl.element'
							*ngIf='formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)'
							popupClass='k-widget k-tooltip k-tooltip-validation k-invalid-msg'>
							<span class='k-icon k-i-warning'></span>
							Category is required
						</kendo-popup>
					</ng-template>
				</kendo-grid-column>
				<kendo-grid-column field='UnitPrice' title='Price' format='{0:c}' width='80' editor='numeric'>
				</kendo-grid-column>
				<kendo-grid-column field='UnitsInStock' title='In stock' width='80'>
					<ng-template kendoGridEditTemplate let-column='column' let-formGroup='formGroup' let-isNew='isNew'>
						<kendo-numerictextbox #ntb='popupAnchor' popupAnchor
							[formControl]='formGroup.get(column.field)'>
						</kendo-numerictextbox>
						<kendo-popup [anchor]='ntb.element'
							*ngIf='formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)'
							popupClass='k-widget k-tooltip k-tooltip-validation k-invalid-msg'>
							<span class='k-icon k-i-warning'></span>
							UnitsInStock must be >= 0
						</kendo-popup>
					</ng-template>
				</kendo-grid-column>
				<kendo-grid-command-column title='command' width='220'>
					<ng-template kendoGridCellTemplate let-isNew='isNew'>
						<button kendoGridEditCommand [primary]='true'>Edit</button>
						<button kendoGridRemoveCommand>Remove</button>
						<button kendoGridSaveCommand [disabled]='formGroup?.invalid'>{{ isNew ? 'Add' : 'Update' }}</button>
						<button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
					</ng-template>
				</kendo-grid-command-column>
			</kendo-grid>
		</div>
		<div class='col-12 col-lg-3 mt-3 mt-lg-0'>
			<h3>Kendo UI for Angular Grid</h3>
			<p>The Kendo UI for Angular Data Grid includes a comprehensive set of ready-to-use features covering everything from paging, sorting, filtering, editing, and grouping to row and column virtualization, exporting to PDF and Excel, and accessibility support.
      </p>

			<p>The Kendo UI for Angular Grid is built on Angular from the ground up, by a company with a long history of making enterprise-ready Grids. This results in an Angular data grid that delivers lighting fast performance and is highly customizable.</p>

			<p>For documentation and demos of all available Grid features (filtering, sorting, paging, editing etc), please visit the <a
					href='https://www.telerik.com/kendo-angular-ui/components/grid/get-started/'>Kendo UI for Angular
					Grid documentation page.</a> </p>
		</div>
	</div>
</div>